.logo-image .logo img {
  position: relative;
  margin-top: -70px;
  left: -35%;
}

#header #topNav {
  margin-left: 300px;
  margin-top: 30px;
}

#header #topNav .active-link a {
  background-color: #218dbc;
  width: 120%;
  height: 0px;
  text-decoration: none,
}

.page-collection {
  padding-top: 20px;
}

#sidebar {
  margin-top: 200px;
}

#canvas {
  margin-top: -60px;
}

#wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/524c9124e4b05018590b5c1b/1380749604483/background.jpg');
  background-repeat: repeat-x;
}

#collection-524b2c47e4b07530b638810f #wrapper {
  padding: 0;
  background-image: none;
}

#collection-524b2c47e4b07530b638810f p {
  padding-left: 30px;
  padding-right: 30px;
}

.sqs-col-12 .sqs-col-4 {
  margin-left: 20px;
  margin-right: -40px;
}

#block-d5cabb82d5ddb6300828 {
  margin-top: -6px;
}

#block-dcd7a282e1ee345be76b {
  margin-top: -6px;
}

//BANNER OVERRIDE //
#collection-524b3872e4b03626b6c18848 #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52548802e4b09b5bd40935ba/1381271554105/background%202.jpg');
}

#collection-524b3872e4b03626b6c18859 #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52548802e4b09b5bd40935ba/1381271554105/background%202.jpg');
}

#collection-524b388be4b03626b6c18f6b #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52548802e4b09b5bd40935ba/1381271554105/background%202.jpg');
}

#collection-524b388ce4b03626b6c18f74 #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52548802e4b09b5bd40935ba/1381271554105/background%202.jpg');
}

#collection-536bc84ce4b02a974e6886f1 #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52548802e4b09b5bd40935ba/1381271554105/background%202.jpg');
}

//SIDEBAR HOVER //
#block-d666f8f6e74e4f11d6cd {
  position: fixed;
}

#block-c51d3b0e43ba0ff3f437 {
  position: fixed;
}

#block-11212d1645f70bde3678 {
  position: fixed;
}

#block-cb1980392366a1e017c4 {
  position: fixed;
}

#block-01fc8ef25d2fd4990f94 {
  position: fixed;
}

#block-d7423e3e62e87f948c37 {
  position: fixed;
}

#block-b3cdd855d9a6b6da4bee {
  position: fixed;
}

// OUR TEAM //
#collection-524b388ce4b03626b6c18f7d #wrapper {
  background-image: url('http://static.squarespace.com/static/524b2b1ae4b07530b6387da6/t/52549b97e4b0e53491ed022d/1381276567178/background3.jpg');
}

#collection-524b42f7e4b09b795faf41dc #wrapper {
  padding: 0;
  background-image: none;
}

#collection-524b42f7e4b09b795faf41dc h2 {
  padding-left: 30px;
  padding-right: 30px;
}

#collection-524b42f7e4b09b795faf41dc h3 {
  padding-left: 30px;
  padding-right: 30px;
}

#collection-524b42f7e4b09b795faf41dc .form-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

#block-4ac25c899c6044a7460d {
  margin-bottom: -70px;
}

#block-9854a6197d47bdfe9545 {
  margin-left: 20px;
  margin-right: 20px;
}

#block-342958808fa9e6b6177b {
  margin-bottom: -70px;
}

#block-6d4ad8abea724f02ccaf {
  margin-left: 20px;
  margin-right: 20px;
}

#block-311add94e3b6fe8bbadf {
  margin-bottom: -50px;
}

#block-f06c624e67af1ef6dc99 {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .logo-image .logo img {
    position: relative;
    margin-top: -50px;
    width: 250px;
    margin-left: 40%;
  }
  #header #topNav {
    margin-left: 280px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .sqs-col-12 .sqs-col-4 {
    margin-left: 10px;
    margin-right: -20px;
  }
}